.App {
    align-items: center;
    width: 400px;
    height: max-content;
    margin: auto;
    background: linear-gradient(115.23deg, #D5AC1B 38.06%, #6E590E 100.56%);
    padding: 117px 550px;
    
  }
  h1 {
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
  }
  .Img{
    
    width: 100px;
    text-align: left;
   
  
    
  }
  
  .login-form {
    padding:50px;
   
  }
  
  .form-field {
    display: inline-block;
    align-items: center;
    padding: 5px;
    width: 250px;
    height: 25px;
    margin-top: 20px;
    border-radius: 25px;
  }
  .form-error {
    display: block;
    color: red;
    font-size: 0.9em;
    font-weight: 600px;
  
  }
  .button {
    display: block;
    align-items: center;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
    background-color: rgb(114, 114, 216);
  }
  
  